@import '../../misc/config';


.notification-wrapper{
    display: flex;
    justify-content: space-between;
    >div{
        width: 25%;
        &:first-of-type{
            width: 35%;
        }
        p{
            line-height: 3;
            font-size: 10pt;
        }
    }
}

@media screen and (max-width: 720px) {
    h4{
        line-height: 1 !important;
    }
    .notification-wrapper{
        >div{
            p{
                font-size: 8pt;
                line-height: 1;
                margin-top: 3em;
            }
        }
    }
}