@import '../../misc/config';


.profile-picture{
    width: 100%;
    text-align: center;
    position: relative;
    img{
        width: 100px;
        height: 100px;
        border: 50%;
        border-radius: 50%;
    }
}